/* 
Structure:
+ Set up global variable

*/

/***************************** 
+ Set up global variable
*****************************/
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Quicksand:wght@300&family=Readex+Pro:wght@200;300;400;500&display=swap");
:root {
  --mainColor: #25316d;
  --secondaryColor: #5f6f94;
  --activeColor: #97d2ec;
  --secondaryBackgroundColor: #f2f3f7;
  --fontSize: 16px;

  --stack-color: #f9bf3f;
  --database-color: #2c98f0;
  --new-color: #2fa499;

  --border-style: ;
}

/***************************** 
+ Global setting
*****************************/

* {
  font-family: "Readex Pro", sans-serif;
  box-sizing: border-box;
  line-height: 1.5em;
}

html {
  font-size: var(--fontSize);
}

body {
  margin: 0;
  /* background-color: red; */
}

a {
  text-decoration: none;
  color: var(--mainColor);
  text-transform: uppercase;
}

.upper-text {
  text-transform: uppercase;
}

/***************************** 
+ Components
*****************************/

.btn {
  border: none;
  font-size: 1.5rem;
}

.btn:hover {
  background-color: var(--secondaryColor);
}

.btn:active {
  background-color: var(--activeColor);
}
/***************************** 
+ Side Bar
*****************************/

aside {
  position: fixed;
  top: 0;
  background-color: var(--secondaryBackgroundColor);
  width: 30%;
  height: 100vh;
  text-align: center;
}

aside > img {
  width: auto;
  height: 15vh;
  border-radius: 50%;
}

nav {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/***************************** 
+ Content page
*****************************/

main {
  padding-left: 32%;
  padding-right: 40px;
}

main > section {
  margin: 30px 0;
}

[data-header] {
  letter-spacing: 5px;
  margin-bottom: 12px;
  font-weight: bolder;
  font-family: "Playfair Display", Georgia, serif;
}

[data-header]::before {
  font-size: 10px;
  content: attr(data-header);
  display: block;
  color: #a9a9aa;
}

/* SECTIOIN 2: Experiences */

.expert-parent {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 80px;
}

.expert-article {
  position: relative;
  padding: 0 20px;
  /* border: 1px solid red; */
  width: 30%;
  height: fit-content;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}
.expert-article:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.expert-article > .title {
  text-align: center;
  margin-top: 70px;
}

.expert-article > .icon {
  text-align: center;
  position: absolute;
  top: -20px;
  left: 0;
  right: 0;
  height: 50px;
  width: 100px;
  margin: 0 auto;
  padding: 12px;
}

.expert-article > .icon > i {
  color: white;
}

.expert-article > .icon::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  width: 0;
  height: 0;
  border-style: solid;
  top: -30px;
  border-width: 0 50px 30px 50px;
}

.expert-article > .icon::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  width: 0;
  height: 0;
  border-style: solid;
  bottom: -30px;
  border-width: 30px 50px 0px 50px;
}

.expert-one {
  background-color: var(--stack-color);
}

.expert-one::before {
  /* background-color: red; */
  border-color: transparent transparent var(--stack-color) transparent;
}
.expert-one::after {
  border-color: var(--stack-color) transparent transparent transparent;
}

.expert-parent > .one {
  border-bottom: 3px solid var(--stack-color);
}

.expert-two {
  background-color: var(--database-color);
}

.expert-two::before {
  /* background-color: red; */
  border-color: transparent transparent var(--database-color) transparent;
}

.expert-two::after {
  border-color: var(--database-color) transparent transparent transparent;
}

.expert-parent > .two {
  border-bottom: 3px solid var(--database-color);
}

/* SECTIOIN 2: Timeline */

.timeline-element {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.timeline-icon {
  width: 40px;
  height: 40px;
  box-shadow: 0 0 0 5px #f2f3f7;
  border-radius: 50%;
}

.color-yellow {
  background: #f9bf3f;
}

.color-purple {
  background: #a84cb8;
}

.color-none {
  background: white;
  width: 20px;
  height: 20px;
  margin-left: 8px;
}

.timeline-icon > i {
  display: block;
  width: auto;
  height: inherit;
  padding: 10px;
}

.timeline-label {
  position: relative;

  background-color: #f2f3f7;
  /* padding: 0 15px; */
}

.timeline-label::before {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 9px 9px 9px 0;
  border-color: transparent #f2f3f7 transparent transparent;
  top: 10px;
  left: -9px;
}

.timeline-label > * {
  padding: 0 30px;
}

.timeline-wrap {
  display: flex;
  flex-direction: column;
  gap: 5vh;
  position: relative;
}

.timeline-wrap::before {
  content: "";
  position: absolute;
  display: block;
  width: 4px;
  background: #f2f3f7;
  top: 20px;
  bottom: 20px;
  margin-left: 15px;
  z-index: -999;
}

.timeline-end {
  display: block;
  box-shadow: 0 0 0 5px #f2f3f7;
  line-height: 40px;
  width: 10px;
  border-radius: 50%;
  text-align: center;
}

#education span {
  color: #2c98f0;
}

#education article {
  padding-bottom: 20px;
}

#education > div {
  padding-left: 10px;
}

#education h3 {
  margin-top: 0;
  font-family: "Playfair Display", Georgia, serif;
}

.container1 {
  width: 100%;
  background-color: #ddd;
  height: 6px;
  border-radius: 8px;
  padding: 0;
}

.cpp {
  background-color: #ec5453;
  width: 80%;
  height: 6px;
  border-radius: 8px;
}

.cpp::before {
  position: relative;
  content: attr(vari);
  color: #ec5453;
  top: -25px;
  font-size: 12px;
}

.skills {
  text-align: right;
}

.wrapper {
  width: 500px;
}

.progress-bar {
  width: 100%;
  background-color: #e0e0e0;
  padding: 3px;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
}

.progress-bar-fill {
  display: block;
  height: 22px;
  background-color: #659cef;
  border-radius: 3px;

  transition: width 500ms ease-in-out;
}

#my-skill > div {
  padding-left: 10px;
}
